.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto';
  padding-top: 150px;
}

.google-logo {
  width: 30%;
}

.suggestions-container {
  width: 40%;
  margin-top: 40px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 16px;
  border: 1px solid #bfbfbf;
  padding: 20px 10px 10px 10px;
}

.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search {
  height: 30px;
  margin-right: 10px;
}

.input {
  border: none;
  font-family: 'Roboto';
  font-size: 20px;
  outline: none;
  width: 100%;
  color: #64748b;
}

.suggestions-list {
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .google-logo {
    width: 50%;
  }
  .suggestions-container {
    width: 80%;
  }
  .search {
    height: 25px;
  }
  .input {
    font-size: 16px;
  }
}
